assets/Job Application Tracker.json
{
  "name": "Job Application Tracker",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "submitted OR applying OR interview OR shortlisted OR assessment OR test OR unfortunately OR role OR time"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -528
      ],
      "id": "XXXX",
      "name": "Watch Job Applications",
      "credentials": {
        "gmailOAuth2": {
          "id": "XXXX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "XXXX",
              "leftValue": "={{!!$json[\"snippet\"].match(/applying|submitted|received|assessment|time|rejected|regret|unsuccessful|not selected|congratulations/i)}}",
              "rightValue": "applied",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        -528
      ],
      "id": "e2973e59-ab15-416b-8668-0553617a2bf2",
      "name": "Filter Job Email Only"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "048c9469-8396-4c14-bea5-8f2fa7317064",
              "name": "Company",
              "value": "={{\n  (\n    ($json[\"Subject\"].match(/applying (?:at|to) ([^-]+?)(?=\\s*-|$)/i) || [])[1]\n    || ($json[\"Subject\"].match(/at ([^-]+?)(?=\\s*-|$)/i) || [])[1]\n    || ($json[\"From\"].match(/([\\w.& ]+)(?=@|<|$)/i) || [])[1]\n    || \"Unknown Company\"\n  ).trim()\n}}",
              "type": "string"
            },
            {
              "id": "fb402d4a-a9aa-4e90-9e38-fd57b517ceb1",
              "name": "job_title",
              "value": "={{\n  (\n   \n    ($json[\"snippet\"].match(/Ref:\\s*\\d+\\s*-\\s*([^-]+?)-/) || [])[1]\n    // General body/snippet patterns\n    || ($json[\"snippet\"].match(/applying\\s+(?:for|to|at)\\s+([^\\n\\r]+)/i) || [])[1]\n    || ($json[\"Subject\"].match(/applying\\s+(?:for|to|at)\\s+([^\\n\\r]+)/i) || [])[1]\n    || \"Unknown Job Title\"\n  ).trim()\n}}",
              "type": "string"
            },
            {
              "id": "b80a236b-03ca-4717-83cb-c812eb89055e",
              "name": "date_applied",
              "value": "={{new Date(parseInt($json[\"internalDate\"])).toLocaleDateString()}}",
              "type": "string"
            },
            {
              "id": "d55f71cd-5b68-4a4f-a483-cec3f90cb08c",
              "name": "status",
              "value": "={{   (     ($json[\"snippet\"].match(/rejected|other candidates|unsuccessful|not selected|declined|unfortunately|regret/i)) ? \"Rejected\"     : ($json[\"snippet\"].match(/interview|shortlist|scheduled|invite|round/i)) ? \"Interview\"     : ($json[\"snippet\"].match(/assessment|test|challenge/i)) ? \"Assessment\"     : \"Applied\"   ) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -528
      ],
      "id": "a36ad475-ecc7-46ce-b02a-b2bdbab01208",
      "name": "Extract Application Data"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "XXXX",
          "mode": "list",
          "cachedResultName": "Job Tracker n8n",
          "cachedResultUrl": "https://www.notion.so/XXXX"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Company|rich_text",
              "condition": "equals",
              "richTextValue": "={{$node[\"Extract Application Data\"].json[\"Company\"]}}"
            },
            {
              "key": "Job Title|title",
              "condition": "equals",
              "titleValue": "={{$node[\"Extract Application Data\"].json[\"job_title\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        256,
        -528
      ],
      "id": "bcf47a4d-3019-4515-a8fe-ad55efaeeb89",
      "name": "Find Matching Job Entry",
      "credentials": {
        "notionApi": {
          "id": "IXQnOSP7LlE0xMFD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3a4855a-e2f1-4ba1-9942-2d742b586c6a",
              "leftValue": "{{$json[\"status\"]}}",
              "rightValue": "\"Applied\"",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -528
      ],
      "id": "7e6569c8-e88a-4442-bc5f-046aa2fedee5",
      "name": "Check If Entry Exists"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        704,
        -624
      ],
      "id": "5ce361f8-8c51-487c-8a97-c963bc94e8b0",
      "name": "Update Job Status",
      "credentials": {
        "notionApi": {
          "id": "XXXX",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "XXXX",
          "mode": "list",
          "cachedResultName": "Job Tracker n8n",
          "cachedResultUrl": "https://www.notion.so/XXXX"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job Title|title",
              "title": "={{$json[\"job_title\"]}}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $json[\"Company\"] }}"
            },
            {
              "key": "Date Applied|rich_text",
              "textContent": "={{$json[\"date_applied\"]}}"
            },
            {
              "key": "Status|select",
              "selectValue": "Applied"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        704,
        -432
      ],
      "id": "d35560d4-d3b0-4a61-b17b-2de5cefa2a0b",
      "name": "Create New Job Entry",
      "credentials": {
        "notionApi": {
          "id": "XXXX",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Watch Job Applications": {
      "main": [
        [
          {
            "node": "Filter Job Email Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Job Email Only": {
      "main": [
        [
          {
            "node": "Extract Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Application Data": {
      "main": [
        [
          {
            "node": "Find Matching Job Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Job Entry": {
      "main": [
        [
          {
            "node": "Check If Entry Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Entry Exists": {
      "main": [
        [
          {
            "node": "Update Job Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Job Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a63d1e0-8da8-4320-9ce0-67ab6b1071ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "XXXX"
  },
  "id": "DEJJV6dCc6oA3TPM",
  "tags": []
}